<!-- Begin Page Content -->
<div class="container-fluid w-100">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Profile</h1>

    </div>
<% if flash[:alert] %>
  <div id="error_explanation">
    <p><%= flash[:alert] %></p>
  </div>
<% end %>


    <!-- Content Row -->

    <div class="row">
        <% if current_user.profile_photo.present? %>
        <%= image_tag current_user.profile_photo , class:"rounded mb-2", style:"width: 200px; height: auto; object-fit: cover;"%>
        <% else %>
        <div class="img-profile rounded mx-2 mb-2 bg-primary d-inline-flex align-items-center justify-content-center text-white" style="width: 150px; height: 150px; font-size: 14px; font-weight: bold;">
            <%= current_user.full_name.split.map(&:first).join.upcase %>
        </div>
        <% end %>
        <%= form_with url: update_profile_photo_path, method: :post, multipart: true do |f| %>
        <div class="input-group mb-3">
            <%= f.label :profile_photo, "Upload", class: "input-group-text" %>
            <%= f.file_field :profile_photo, class: "form-control", id: "inputGroupFile01" %>
            <%= f.submit "Submit", class: "btn btn-success" %>
        </div>
        <% end %>
    </div>


    <%= form_with url: update_profile_path, method: :post do |f| %>

    <div class="row">

        <div class="col-lg-6 mb-4">

            <div class="mb-3">
                <%= f.label :full_name, class:"form-label" %>
                <%= f.text_field :full_name, value: current_user.full_name, class: "form-control" %>
            </div>
            <div class="mb-3">
                <%= f.label :password, class:"form-label" %>
                <%= f.password_field :password, class: "form-control", id: "passwordInput" %>
                <div id="password-error" style="color: red; font-size: 0.8rem;"></div>
                <input type="checkbox" class="mx-1" onclick="showPassword()">Show Password

            </div>


        </div>
        <div class="col-lg-6 mb-4">

            <div class="mb-3">
                <%= f.label :email, class:"form-label" %>
                <input type="email" value=<%=current_user.email%> class="form-control" disabled  %>
            </div>
            <div class="mb-3">
                <%= f.label :confirmPassword, class:"form-label" %>
                <%= f.password_field :confirmPassword, class: "form-control", id: "confirmPasswordInput" %>
                <input type="checkbox" class="mx-1" onclick="showConfirmPassword()">Show Password
            </div>

        </div>
        <div class="col-lg-6 mb-4">

            <div class="mb-3">
                <%= f.submit "Submit", class:"btn btn-primary" %>
            </div>


        </div>
    </div>

    <%end%>
</div>
</div>

</div>
</div>


<script>
    function showPassword() {
        var x = document.getElementById("passwordInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }

    function showConfirmPassword() {
        var x = document.getElementById("confirmPasswordInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>