<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">Comments</h6>
        <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addCommentModal">
            Add Comments
        </button>
    </div>

    <div class="card-body table-responsive">
        <% if @comments.any? %>
        <div class="mb-3 d-flex justify-content-end">
            <form method="get" class="form-inline">
                <label class="mr-2" for="per_page">Comments per page:</label>
                <select name="per_page" id="per_page" class="form-control form-control-sm" onchange="this.form.submit()">
                    <% [3, 5, 10, 20, 50].each do |limit| %>
                    <option value="<%= limit %>" <%= 'selected' if params[:per_page].to_i == limit %>><%= limit %></option>
                    <% end %>
                </select>
            </form>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Body</th>
                    <th>Author</th>

                </tr>
            </thead>
            <tbody>
                <% @comments.each do |comment| %>
                <tr>
                    <td style="width: 70%"><%= comment.body %></td>
                    <td><%= comment.user.full_name %> <br /><span style="font-size: 10px"><%= comment.created_at%></span></td>

                    <% end %>
            </tbody>
        </table>
        <div class="d-flex justify-content-center mt-3">
            <%= paginate @comments %>
        </div>
        <% else %>
        <p>No users are assigned to this project yet.</p>
        <% end %>
    </div>
</div>
<div class="modal fade" id="addCommentModal" tabindex="-1" aria-labelledby="addCommentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserModalLabel">Add Comments to <%= @project.name %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <%   form_url = @bug.present? ? add_bug_comments_project_bug_path(@project, @bug) : add_comments_project_path(@project) %>

            <%= form_with url: form_url, method: :post, local: true do |f| %>
            <div class="modal-body">
                <%= f.label :body, class:"input-label" %> <br />
                <%= f.text_area :body, class:"form-control" %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <%= f.submit "Add Comment", class: "btn btn-primary" %>
            </div>
            <% end %>
        </div>
    </div>
</div>